<container class="container p-0 col-4 main-card mt-5">
  <div class="login-card">
    <h1 class="text-center font-weight-bold p-3">
      LOGIN
    </h1>
    <form class="login-form p-3">
      <ul class="list-group">
        <input type="text" name="email" id="email-login" placeholder="Email" class="login-inputs">
    
        <input type="password" name="password" id="password-login" placeholder="Password" class="mt-3 login-inputs">

        <h5 id="error-message-login" class="mt-3 error-color hidden">Incorrect email or password, please try again</h5>
        
        <button type="submit" class="mt-3">Login</button>
      </ul>
    </form>
  </div>
    <h3 class="mt-3">
      Don't have an account? <button type="button" class="link font-weight-bold" id="register-btn">Register Here!</button>
    </h3>
  </container>

  <script src="./js/login.js"></script>