<form id="homepageForm" style="width: 40rem; height:42rem;">
  <h5 id="form-heading">POST A DEAL</h5>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Item name:</label>
    <div class="col-sm-10">
      <input  id="item-name" type="input" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label for="input" class="col-sm-2 col-form-label">Discounted Price:</label>
    <div class="col-sm-10">
      <input id="discount"  type="input" class="form-control" >
    </div>
  </div>
  <div class="form-group row">
    <label for="input" class="col-sm-2 col-form-label">Restaurant Name:</label>
    <div class="col-sm-10">
      <input  id="restaurant" type="input" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="input" class="col-sm-2 col-form-label">Start Time:</label>
    <div class="col-sm-10">
      <input id="start-time" type="input" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="input" class="col-sm-2 col-form-label">End Time:</label>
    <div class="col-sm-10">
      <input id="end-time" type="input" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="input" class="col-sm-2 col-form-label">Deal day(s):</label>
    <div class="col-sm-10">
      <input id="day"type="input" class="form-control">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Item:</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input id="food" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="true">
        Food
        </div>
        <div class="form-check">
          <input id="drink" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="false">
          Drink
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div id="submitBtn" class="col-sm-10">
      <button  id="s-btn" class="form-btn" type="submit"  class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<script src="./js/homepage.js"></script>