.main-card {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
} .main-card h1 {
  font-size: 60px;
} .login-form {
  display: block;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
} .login-inputs {
  font-size: 30px;
} .login-card {
  border: 1px solid black;
} #profile-pic {
  border-radius: 50px;
} #profile-pic:hover {
  cursor: pointer;
} .link {
  cursor: pointer;
} header {
  border-bottom: 1px solid black;
  background-color: aliceblue;
}

.hidden {
  display: none;
}

.div-header h1 {
  font-weight: bold;
  margin: 0%;
  display: inline-block;
  font-size: 60px;
} .div-header {
  display: inline-flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  width: 100%;
  padding: 0% 2.5%;
} .div-header h2 {
  font-weight: bold;
  margin: 0%;
  display: inline-block;
  font-size: 60px;
} 

.red-border {
  border: 1px solid red;
} .black-border {
  border: 1px solid black;
} .error-color {
  color: red;
}