html, body {
  height: 100%;

}
#wrapper {
  min-height: 88%;
}

.main-card {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
} .main-card h1 {
  font-size: 60px;
} .login-form {
  display: block;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
} .login-inputs {
  font-size: 30px;
} #profile-pic {
  border-radius: 50px;
} #profile-pic:hover {
  cursor: pointer;
} .link {
  cursor: pointer;
} header {
  border-bottom: 1px solid black;
  background-color: rgb(206, 206, 206);
  min-height: 12%;
} #login-container {
  box-shadow: 1px 1px 50px black;
  background-color: rgb(153, 193, 216);
}

.hidden {
  display: none;
}

.div-header h1 {
  font-weight: bold;
  margin: 0%;
  display: inline-block;
  font-size: 60px;
} .div-header {
  display: inline-flex;
  justify-content: space-between;
  height: 10%;
  align-items: center;
  width: 100%;
  padding: 0% 2.5%;
} .div-header h2 {
  font-weight: bold;
  margin: 0%;
  display: inline-block;
  font-size: 60px;
} 

.red-border {
  border: 1px solid red;
} .black-border {
  border: 1px solid black;
} .error-color {
  color: red;
}


#register-btn, #login-btn {
  border: 0;
  background-color: rgb(153, 193, 216);
  color: #0067b8;
} #register-btn:hover, #login-btn:hover {
  text-decoration: underline;
  transition-duration: 500ms;
} .list-group {
  width: 85%;
} .main-login {
  background: linear-gradient(45deg, rgb(202, 202, 211), rgb(114, 102, 102), rgb(94, 99, 99));
  padding-top: 7%;
} .list-group button {
  border: 1px solid gray;
  height: 50px;
  font-size: 30px;
}


/* For homepage */
.card-header{
  text-align: center;
  
}
.card{
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.34);

}
#hp-head{
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 35px;
  font-weight: bold; 

}
.card-body, .card-header{
  background: linear-gradient(45deg, rgb(100, 111, 117), rgb(104, 128, 152), rgb(13, 49, 61));
  border: 1px solid transparent;

}
.card-title{
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  font-weight: bold; 
  text-align: center;
}
.card-text{
  font-family: 'Sacramento', cursive;
  font-size: 25px;
  text-align: center;
}
.bi{
  color: white;
}
#homepageForm{
  border: 2px solid black;
  padding: 40px;
  border-radius: 5px;
  margin: 0 auto;
}
#submitBtn{
  padding-left: 500px;
}







